.booking-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.booking-detail{
    margin-right: 10px;
}

.booking-detail h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
    margin: 10px 0;
    color: #fff;
}

.booking-detail p{
    color: #fff;
    line-height: 20px;
    font-size: 15px;
}

.booking-input{
    margin: 12px 0;
}

.booking-info{
    border: 0;
    border-radius: 7px;
    background-color: #fff;
    padding: 20px;
    margin: 15px 0;
}

.booking-info p{
    margin: 5px 0;
    color: gray;
}

.booking-info button{
    width: 100%;
    font-weight: 500;
    padding: 20px;
}

.booking-input input{
    background-color: #F2F2F2;
    border: 0;
    border-radius: 7px;
    padding: 15px;
    font-size: 18px;
    width: 100%;
    font-weight: 500;
}

.booking-date{
    display: flex;
    gap: 10px;
}

.booking-date input {
    background-color: #F2F2F2;
    background: url("./../../../images/icons/calender_icon.png") top right no-repeat;
    background-size: 20px;
    background-position: 165px 15px;
    border: 1px solid gray;
}
