.navbar,
.nav-left,
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 30px 5px;
}

.nav-left{
    margin-right: 20px;
}

.nav-search {
  width: 60%;
}

.nav-left input {
  outline: 0;
  padding: 8px 21px;
  border-radius: 7px;
  background-color: transparent;
  width: 100%;
  background: url("./../../../images/icons/search.png") top left no-repeat;
  padding-left: 33px;
  font-size: 18px;
  background-position: 5px 7px;
}

.nav-left input::placeholder{
  color: #ffa500;
}

.nav-logo img {
  height: 56px;
}

.nav-links a {
  text-decoration: none;
}

.login-btn {
  background-color: #ffa500;
  padding: 8px 21px;
  border-radius: 4px;
  color: #000;
  border: 0;
  text-align: center;
}
