*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html{
    height: 100%;
}

.w-50{
    width: 50%;
}

.container{
    max-width: 936.74px;
    margin: 0 auto;
}

.bg{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/Rectangle\ 1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}